.plate {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black;*/
}

.unit {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background: #eee;
  /* ↓dib的時候不加這個垂直位置會跑掉 */
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgb(110, 110, 110);
}

.tttAnswer {
  margin: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

button {
  display: block;
  margin: 10px auto;
}

.initiative {
  margin: 10px auto;
}