.plate {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black;*/
}

.unit {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  color: #555555;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  background: rgb(250, 250, 250);
  /* ↓dib的時候不加這個垂直位置會跑掉 */
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight:bolder;
  font-family: Comic Sans MS;
  user-select: none;

  border-width: 2px 3px 2px 5px;
  border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
  transform: rotate(3deg);
  border:  rgb(107, 192, 125) solid 1px;
  
}

.unit.disabled {
  cursor: default;
}


button {
  outline: none;
  display: block;
  cursor: pointer;
  margin: 10px auto;
  user-select: none;
  font-weight: bold;
}

.choiceBtn {
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-family: Comic Sans MS;
  border-radius: 10px;
  border-color: rgb(68, 122, 80);
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px rgb(68, 122, 80) inset, 0 0 0 0 rgb(68, 122, 80);
}

.choiceBtn:disabled {
  color: #ddd;
  cursor: default;
  border-color: rgb(96, 170, 112);
  box-shadow: 0 0 40px 40px rgb(135, 185, 146) inset, 0 0 0 0 rgb(135, 185, 146);
}

.overPlate {
  top: 50%;
  left: 50%;
  font-size: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.startBtn {
  width: 200px;
  height: 80px;
  color: #fff;
  border-radius: 15px;
  font-size: 25px;
  font-family: Comic Sans MS;
  border-color: #3498db;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
}

.startBtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.initiative {
  margin: 10px auto;
}

.resultText {
  user-select: none;
  text-align: center;
  font-weight: bold;
  font-family: Comic Sans MS;
  -webkit-text-stroke: #5483ca 1px;
}

.cloth {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  opacity: .9; /* 不能使用百分比哦 */
}